/* Color Theme Swatches in Hex */
@DAQUI-UTFPR-PB-1-hex: #99D4FE;
@DAQUI-UTFPR-PB-2-hex: #46B5FE;
@DAQUI-UTFPR-PB-3-hex: #4489F1;
@DAQUI-UTFPR-PB-4-hex: #04505D;
@DAQUI-UTFPR-PB-5-hex: #FFFFFF;

/* Color Theme Swatches in RGBA */
@DAQUI-UTFPR-PB-1-rgba: rgba(153, 212, 254, 1);
@DAQUI-UTFPR-PB-2-rgba: rgba(70, 181, 254, 1);
@DAQUI-UTFPR-PB-3-rgba: rgba(68, 137, 241, 1);
@DAQUI-UTFPR-PB-4-rgba: rgba(4, 80, 93, 1);
@DAQUI-UTFPR-PB-5-rgba: rgba(255, 255, 255, 1);

/* Color Theme Swatches in HSLA */
@DAQUI-UTFPR-PB-1-hsla: hsla(204, 98, 79, 1);
@DAQUI-UTFPR-PB-2-hsla: hsla(203, 98, 63, 1);
@DAQUI-UTFPR-PB-3-hsla: hsla(216, 86, 60, 1);
@DAQUI-UTFPR-PB-4-hsla: hsla(188, 91, 19, 1);
@DAQUI-UTFPR-PB-5-hsla: hsla(0, 0, 100, 1);
