/* Color Theme Swatches in Hex */
.DAQUI-UTFPR-PB-1-hex { color: #99D4FE; }
.DAQUI-UTFPR-PB-2-hex { color: #46B5FE; }
.DAQUI-UTFPR-PB-3-hex { color: #4489F1; }
.DAQUI-UTFPR-PB-4-hex { color: #04505D; }
.DAQUI-UTFPR-PB-5-hex { color: #FFFFFF; }

/* Color Theme Swatches in RGBA */
.DAQUI-UTFPR-PB-1-rgba { color: rgba(153, 212, 254, 1); }
.DAQUI-UTFPR-PB-2-rgba { color: rgba(70, 181, 254, 1); }
.DAQUI-UTFPR-PB-3-rgba { color: rgba(68, 137, 241, 1); }
.DAQUI-UTFPR-PB-4-rgba { color: rgba(4, 80, 93, 1); }
.DAQUI-UTFPR-PB-5-rgba { color: rgba(255, 255, 255, 1); }

/* Color Theme Swatches in HSLA */
.DAQUI-UTFPR-PB-1-hsla { color: hsla(204, 98, 79, 1); }
.DAQUI-UTFPR-PB-2-hsla { color: hsla(203, 98, 63, 1); }
.DAQUI-UTFPR-PB-3-hsla { color: hsla(216, 86, 60, 1); }
.DAQUI-UTFPR-PB-4-hsla { color: hsla(188, 91, 19, 1); }
.DAQUI-UTFPR-PB-5-hsla { color: hsla(0, 0, 100, 1); }
